body {
  margin: 0;
  line-height: normal;
}
.iphone-13-pro-max-7-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 428px;
  height: 606px;
}
.iphone-13-pro-max-7-item {
  position: absolute;
  top: 319px;
  left: 18px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 391px;
  height: 875px;
}
.logo-600x600-2-removebg-previe-icon {
  position: absolute;
  top: 36px;
  left: 103px;
  width: 213px;
  height: 213px;
  object-fit: cover;
}
.battery-icon {
  position: absolute;
  height: 53.18%;
  width: 8.01%;
  top: 21.99%;
  right: 0;
  bottom: 24.83%;
  left: 91.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  height: 91.85%;
  width: 8.57%;
  top: 0;
  left: 81.76%;
  display: inline-block;
}
.bluetooth-icon,
.lock-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bluetooth-icon {
  position: absolute;
  height: 68.24%;
  width: 2.09%;
  top: 13.99%;
  right: 19.84%;
  bottom: 17.77%;
  left: 78.07%;
  opacity: 0.45;
}
.lock-icon {
  height: 52.41%;
  width: 2.21%;
  top: 23.39%;
  right: 48.74%;
  bottom: 24.2%;
  left: 49.05%;
}
.gs,
.lock-icon,
.wifi-icon {
  position: absolute;
}
.wifi-icon {
  height: 57.65%;
  width: 4.15%;
  top: 23.39%;
  right: 77.75%;
  bottom: 18.96%;
  left: 18.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gs {
  height: 99.58%;
  width: 4.97%;
  top: 0.42%;
  left: 12.02%;
  display: inline-block;
}
.signal-icon {
  position: absolute;
  height: 36.69%;
  width: 11.33%;
  top: 35.4%;
  right: 88.67%;
  bottom: 27.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.battery-icon-parent,
.dietary-suggestions,
.presumptive-date-of {
  position: absolute;
  font-family: var(--font-segoe-ui);
  color: var(--color-white);
}
.battery-icon-parent {
  height: 1.49%;
  width: 93.45%;
  top: 1%;
  right: 3.28%;
  bottom: 97.51%;
  left: 3.27%;
  font-size: var(--font-size-lg);
}
.dietary-suggestions,
.presumptive-date-of {
  top: 258px;
  left: 74px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  text-align: center;
  width: 281px;
  height: 36px;
}
.presumptive-date-of {
  top: 1220px;
  left: 73px;
  font-weight: 600;
  color: var(--color-green);
  height: 60px;
}
.iphone-13-pro-max-7-inner,
.rectangle-div {
  position: absolute;
  height: 11.6%;
  width: 80.14%;
  top: 27.5%;
  right: 9.81%;
  bottom: 60.91%;
  left: 10.05%;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 2px 20px rgba(0, 122, 51, 0.31);
}
.rectangle-div {
  height: 4.84%;
  top: 40.48%;
  right: 10.05%;
  bottom: 54.69%;
  left: 9.81%;
}
.iphone-13-pro-max-7-child1,
.iphone-13-pro-max-7-child2,
.iphone-13-pro-max-7-child3,
.iphone-13-pro-max-7-child4,
.iphone-13-pro-max-7-child5,
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  position: absolute;
  height: 4.84%;
  width: 80.14%;
  top: 65.36%;
  right: 10.05%;
  bottom: 29.8%;
  left: 9.81%;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 2px 20px rgba(0, 122, 51, 0.31);
}
.iphone-13-pro-max-7-child2,
.iphone-13-pro-max-7-child3,
.iphone-13-pro-max-7-child4,
.iphone-13-pro-max-7-child5,
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  top: 46.7%;
  bottom: 48.46%;
}
.iphone-13-pro-max-7-child3,
.iphone-13-pro-max-7-child4,
.iphone-13-pro-max-7-child5,
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  top: 71.58%;
  bottom: 23.58%;
}
.iphone-13-pro-max-7-child4,
.iphone-13-pro-max-7-child5,
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  top: 52.92%;
  bottom: 42.24%;
}
.iphone-13-pro-max-7-child5,
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  top: 77.8%;
  bottom: 17.36%;
}
.iphone-13-pro-max-7-child6,
.iphone-13-pro-max-7-child7 {
  top: 59.14%;
  bottom: 36.02%;
}
.iphone-13-pro-max-7-child7 {
  top: 84.02%;
  bottom: 11.14%;
}
.jun-2022-accordion,
.jun-2022-accordion1,
.jun-2022-accordion2,
.jun-2022-accordion3 {
  position: absolute;
  height: 1.38%;
  width: 43.69%;
  top: 28.8%;
  left: 16.82%;
  display: flex;
  align-items: center;
}
.jun-2022-accordion1,
.jun-2022-accordion2,
.jun-2022-accordion3 {
  width: 38.32%;
  top: 42.24%;
}
.jun-2022-accordion2,
.jun-2022-accordion3 {
  top: 67.13%;
}
.jun-2022-accordion3 {
  top: 48.46%;
}
.jun-2022-accordion4,
.jun-2022-accordion5,
.jun-2022-accordion6,
.jun-2022-accordion7,
.jun-2022-accordion8 {
  position: absolute;
  height: 1.38%;
  width: 38.32%;
  top: 73.35%;
  left: 16.82%;
  display: flex;
  align-items: center;
}
.jun-2022-accordion5,
.jun-2022-accordion6,
.jun-2022-accordion7,
.jun-2022-accordion8 {
  top: 54.69%;
}
.jun-2022-accordion6,
.jun-2022-accordion7,
.jun-2022-accordion8 {
  top: 79.57%;
}
.jun-2022-accordion7,
.jun-2022-accordion8 {
  top: 60.91%;
}
.jun-2022-accordion8 {
  top: 85.79%;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 35px;
  height: 35px;
}
.shape-icon {
  position: absolute;
  height: 45.71%;
  width: 25.71%;
  top: 25.71%;
  right: 40%;
  bottom: 28.57%;
  left: 34.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  top: 134px;
  left: 20px;
  width: 35px;
  height: 35px;
}
.iphone-13-pro-max-7 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1302px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
