body {
  margin: 0;
  line-height: normal;
}
.iphone-13-pro-max-5-child {
  position: absolute;
  top: 0;
  left: 1px;
  width: 428px;
  height: 606px;
}
.iphone-13-pro-max-5-item {
  position: absolute;
  top: 305px;
  left: 18px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 391px;
  height: 588px;
}
.logo-600x600-2-removebg-previe-icon {
  position: absolute;
  top: 36px;
  left: 107px;
  width: 213px;
  height: 213px;
  object-fit: cover;
}
.iphone-13-pro-max-5-child1,
.iphone-13-pro-max-5-inner,
.rectangle-div {
  position: absolute;
  height: 14.98%;
  width: 80.14%;
  top: 34.52%;
  right: 9.35%;
  bottom: 50.5%;
  left: 10.51%;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 2px 20px rgba(0, 122, 51, 0.31);
}
.iphone-13-pro-max-5-child1,
.rectangle-div {
  top: 51.59%;
  bottom: 33.43%;
}
.iphone-13-pro-max-5-child1 {
  top: 68.65%;
  bottom: 16.37%;
}
.battery-icon {
  position: absolute;
  height: 53.18%;
  width: 8.01%;
  top: 21.99%;
  right: 0;
  bottom: 24.83%;
  left: 91.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  height: 91.85%;
  width: 8.57%;
  top: 0;
  left: 81.76%;
  display: inline-block;
}
.bluetooth-icon,
.lock-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bluetooth-icon {
  position: absolute;
  height: 68.24%;
  width: 2.09%;
  top: 13.99%;
  right: 19.84%;
  bottom: 17.77%;
  left: 78.07%;
  opacity: 0.45;
}
.lock-icon {
  height: 52.41%;
  width: 2.21%;
  top: 23.39%;
  right: 48.74%;
  bottom: 24.2%;
  left: 49.05%;
}
.gs,
.lock-icon,
.wifi-icon {
  position: absolute;
}
.wifi-icon {
  height: 57.65%;
  width: 4.15%;
  top: 23.39%;
  right: 77.75%;
  bottom: 18.96%;
  left: 18.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gs {
  height: 99.58%;
  width: 4.97%;
  top: 0.42%;
  left: 12.02%;
  display: inline-block;
}
.signal-icon {
  position: absolute;
  height: 36.69%;
  width: 11.33%;
  top: 35.4%;
  right: 88.67%;
  bottom: 27.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.battery-icon-parent,
.side-effects-to {
  position: absolute;
  font-family: var(--font-segoe-ui);
  color: var(--color-white);
}
.battery-icon-parent {
  height: 1.92%;
  width: 93.45%;
  top: 0.79%;
  right: 3.28%;
  bottom: 97.28%;
  left: 3.27%;
  font-size: var(--font-size-lg);
}
.side-effects-to {
  top: 254px;
  left: 74px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  text-align: center;
  width: 281px;
  height: 36px;
}
.can-happen,
.most-likely,
.unlikely {
  position: absolute;
  height: 1.79%;
  width: 38.32%;
  top: 36.21%;
  left: 17.29%;
  display: flex;
  align-items: center;
}
.can-happen,
.unlikely {
  top: 53.47%;
}
.unlikely {
  top: 70.83%;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-green);
  width: 42px;
  height: 42px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.shape-icon {
  position: absolute;
  height: 44.76%;
  width: 24.76%;
  top: -73.81%;
  right: 131.91%;
  bottom: 129.05%;
  left: -56.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  top: 966px;
  left: 388px;
  width: 42px;
  height: 42px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 35px;
  height: 35px;
}
.shape-icon1 {
  position: absolute;
  height: 45.71%;
  width: 25.71%;
  top: 25.71%;
  right: 40%;
  bottom: 28.57%;
  left: 34.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group {
  position: absolute;
  top: 134px;
  left: 23px;
  width: 35px;
  height: 35px;
}
.iphone-13-pro-max-5 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1008px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
